<template>
  <div id="h">
    <router-link to="/">首頁</router-link> ||
    <router-link to="/about">關於</router-link> ||
    <router-link to="/UserInfo">使用者資訊</router-link> ||
    <a href="" @click.prevent="logout">登出</a>
  </div>
</template>
<script>
export default {
  methods: {
    logout () {
      localStorage.removeItem('token')
      this.$router.push('/login')
    }
  }
}
</script>
<style lang="scss">
#h {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
