<template>
  <div class="login">
    <form @submit.prevent="login">
      <h1>LUDA&nbsp;陸達</h1>
      <label><h3>帳號</h3></label>
      <input type="text" v-model="userName" required />
      <br />
      <label><h3>密碼</h3></label>
      <input type="password" v-model="password" required />
      <br />
      <span id="failed" style="color:red;"></span>
      <br />
      <button type="submit">登入</button>
    </form>
  </div>
</template>
<script>
// import Vue from 'vue'
// var failed = new Vue({
//   el: '#failed',
//   data: {
//     seen: true
//   }
// })
export default {
  data () {
    return {
      userName: '',
      password: ''
    }
  },
  methods: {
    login () {
      // write login authencation logic here!
      if (this.userName === 'noel' && this.password === '1234') {
        localStorage.setItem('token', 'ImLogin')
        this.$router.push('/')
      } else {
        // alert('帳號或密碼錯誤！！')
        // failed.seen = false
        document.getElementById('failed').innerHTML = '帳號或密碼錯誤'
      }
    }
  }
}
</script>
<style lang="scss">
h1, h2, h3 {
    font-family: 'Noto Sans TC', sans-serif;
    color: #333333;
}
.login {
    width: 300px;
    height: 300px;
    padding: 20px;
    background-color: rgba(rgb(255, 255, 255), 1.0);
    border-radius: 20px;
    border: 5px solid #fff;
    box-shadow: 0 0 30px #000;
    backdrop-filter: blur(5px);
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
input[type=text], [type=password] {
    border: none;
    border-bottom: 2px solid red;
  }
  button[type=submit] {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1em;
    font-weight: bolder;
  }
</style>
