<template>
  <div class="userinfo">
    <h1>使用者資訊</h1>
    <h3>姓名:</h3>
    <p>{{ userName }}</p>
    <h3>ID:</h3>
    <p>{{ userId }}</p>
  </div>
</template>
<script>
export default {
  data () {
    return {
      userName: 'Noel Hsu',
      userId: 5487
    }
  }
}
</script>
